body {
    font-family: sans-serif;    
    background:rgb(98, 4, 185);
  }
   
  .login-box {
    width: 320px;
    background:black;
    color:white;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 70px 30px;
    border-radius: 50px;
  }
    
  .login-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
  }
  
  .login-box p {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
  }
  
  .login-box input {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .login-box input[type="text"], .login-box input[type="password"] {
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    height: 40px;
    color: wheat;
    font-size: 16px;
  }
  .button input[type="button"] {
    border: none;
    height: 40px;
    background: red;
    color: white;
    font-size: 18px;
    outline: none;
    border-radius: 20px;
  }
  
  
  .login-box a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: burlywood;

  }
  